* {
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

div {
  display: inline-block;
}

.main-container {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.component-container {
  position: absolute;
  top: 0;
  left: 0;
}

.map {
  width: 100vw;
  height: 100vh;
}

.user-input {
  background-color: #a5def1;
  max-width: 360px;
  height: 200px;
  z-index: 9;
  margin: 32px;
  border-radius: 6px;
}

.address-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 5px;
}

.address {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 3px;
}

.address-input {
  width: 95%;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 6px;
  padding-left: 10px;
  font-weight: 700;
  font-size: 14px;
  color: black;
}
.address-input::placeholder {
  color: rgba(0, 0, 0, 0.8);
  font-size: 16px;
}

.suggestions {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  transform: translateY(42px);
  background: #fff;
  border: none;
  border-radius: 6px;
  width: 93.5%;
  z-index: 10;
  list-style: none;
}

.suggestion-item {
  padding: 10px 10px;
  cursor: pointer;
  justify-content: flex-start;
  gap: 10px;
}

.main-suggestion {
  font-weight: 700;
  font-size: 14px;
}

.secondary-suggestion {
  font-size: 12px;
}

.classes-container {
  margin-top: 10px;
  width: 100%;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

li {
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  height: 2em;
  width: 100%;
}
.class-select {
  display: none;
}

.class-labels {
  display: flex;
  justify-content: center;
  cursor: pointer;
  width: 65px;
  background-color: white;
  border-radius: 4px;
  padding: 5px;
  font-weight: 700;
  font-size: 12px;
  color: black;
}

input:checked + label {
  background: #61a8c9;
}

.submit-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.search-button {
  height: 30px;
  width: 94%;
  border-radius: 5px;
  border-style: none;
  background-color: #ff6b35;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}

.prices {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  top: 264px;
  left: 32px;
  background-color: #a5def1;
  height: 180px;
  width: 360px;
  z-index: 9;
  border-radius: 6px;
}

.price-output {
  margin-top: 5px;
  width: 94%;
  height: 30px;
  background-color: white;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px;
}

.price-output h4 {
  font-size: 15px;
}

.price-text {
  font-size: 16px;
}

.price-buttons {
  width: 94%;
  display: flex;
  justify-content: space-between;
}

.price-buttons input {
  margin-bottom: 5px;
  width: 48%;
  height: 30px;
  border: none;
  border-radius: 6px;
  font-weight: 700;
  cursor: pointer;
}

.redirect-button {
  background-color: #ff6b35;
}
